*{
    font-family: sans-serif;
}
html{
    height:100%;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
}
form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}
input[type='input'], textarea{
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #777;
}
input[type='submit']{
    align-self: flex-end;
    background-color: green;
    border-radius: 3px;
    border: none;
    padding: 10px 20px;
    color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
input[type='submit']:hover, input[type='submit']:focus{
    background-color: darkgreen;
}
.container{
    width: 980px;
    margin: 0 auto;
}
header{
    padding: 10px;
    flex: 0 0 auto;
    height: 100px;
    background: #123357;
    color: #FFF;
}
main{
    box-shadow: 0 0 28px 6px rgba(5, 5, 5, 0.15);
    flex: 1 0 auto;
    width: 980px;
    margin: 10px auto;
    border-radius: 3px;
    padding: 20px;
}
footer{
    padding: 10px;
    height: 100px;
    background: #07111d;
    flex: 0 0 auto;
    margin-bottom: 0;
    color: #FFF;
}